<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
       <bean id="groovyEntityDao" class="me.jcis.chaos.dao.impl.JsonGroovyEntityDaoImpl">
              <property name="config" value="${CHAOS_HOME}/groovy/clazzs/entities.json"></property>
       </bean>
</beans>