<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
       <import resource="spring-dao.xml"></import>
       <bean id="lazyFreeMarker" class="me.jcis.chaos.core.freemarker.LazyFreeMarker" init-method="init" lazy-init="true">
              <property name="config" value="${CHAOS_HOME}/freemarker/freemarkerConfig.conf"></property>
       </bean>
       <bean id="lazyGroovyClass" class="me.jcis.chaos.core.groovy.LazyGroovyClass" init-method="init" lazy-init="true">
              <property name="config" value="${CHAOS_HOME}/groovy/groovyConfig.conf"></property>
       </bean>
       <bean id="entityService" class="me.jcis.chaos.service.entity.impl.EntityServiceImpl"></bean>
</beans>